
Prob_Est/Template/Clase1.aux
Prob_Est/Template/Clase1.bbl
Prob_Est/Template/Clase1.blg
Prob_Est/Template/Clase1.log
Prob_Est/Template/Clase1.nav
Prob_Est/Template/Clase1.out
Prob_Est/Template/Clase1.snm
Prob_Est/Template/Clase1.synctex.gz
Prob_Est/Template/Clase1.toc
